In [1]:
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv("canada_per_capita_income.csv")
df.head(5)

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [3]:
df.shape

(47, 2)

In [4]:
df.isnull().sum()

year                       0
per capita income (US$)    0
dtype: int64

# split the data

In [5]:
x = df.drop('per capita income (US$)',axis='columns')
x.head()

   year
0  1970
1  1971
2  1972
3  1973
4  1974

In [6]:
y = df.year
y.head()

0    1970
1    1971
2    1972
3    1973
4    1974
Name: year, dtype: int64

# linear Regression

In [7]:
reg = linear_model.LinearRegression()
reg

LinearRegression()

# fit the model

In [8]:
reg.fit(x,y)

LinearRegression()

# predict

In [9]:
reg.predict([[2020]])

array([2020.])

# verify

# y = mx + b

In [10]:
# m - slope
reg.coef_

array([1.])

In [11]:
# b - intercept
reg.intercept_

9.094947017729282e-13

In [12]:
# x - 2020

In [13]:
1 * 2020 + 9.094947017729282e-13

2020.000000000001